<!--Footer Navigation-->
<footer>
    <div id="footer-container" class="flex-container">

        <!--Copyright + Navigation-->
        <div id="footer-left-container" class="flex-container">
            <h3 id="copyright">&copy; Music Events</h3>
            <div class="nav-breaker"></div>
            <nav class="row-nav flex-container">
                <a href="/about" class="unanimated">ABOUT</a>
                <div class="nav-breaker"></div>
                <a href="/contact" class="unanimated">CONTACT</a>
            </nav>
        </div>

        <!--Social Media Links-->
        <div id="footer-right-container" class="flex-container">
            <nav class="row-socials-nav flex-container">
                <a href="https://www.twitter.com" target="_blank"><img src="/SiteImages/twitter-logo.png" alt="Twitter logo."></a>
                <a href="https://www.instagram.com" target="_blank"><img src="/SiteImages/instagram-logo.png" alt="Instagram logo."></a>
            </nav>
        </div>

    </div>
</footer>