<!DOCTYPE html>
<html lang="en">

    <!--Site Headings-->
    <head>

        <meta charset="utf-8">
        <title>Music Events - Error</title>
        
        <!--CSS Files-->
        <link rel="stylesheet" type="text/css" href="/CSS/sharedStyles.css">
        <link rel="stylesheet" type="text/css" href="/CSS/index.css">

        <!--JS Files-->
        <script src="/JS/index.js"></script>

    </head>

    <!--Site Content-->
    <body class="no-animations">

        <%- include('./partials/header.ejs') %>

        <!--Main Content-->
        <main class="flex-container"> 
            <div id="content-container" class="flex-container">
                <h2><b>Error <%= Error.status %></b></h2>
                <p><%= Error.message %></p>
            </div>
        </main>

        <%- include('./partials/footer.ejs') %>

    </body>

</html>