<!DOCTYPE html>
<html lang="en">

    <!--Site Headings-->
    <head>

        <meta charset="utf-8">
        <title>Music Events - Home</title>
        
        <!--CSS Files-->
        <link rel="stylesheet" type="text/css" href="/CSS/sharedStyles.css">
        <link rel="stylesheet" type="text/css" href="/CSS/index.css">

        <!--JS Files-->
        <script src="/JS/index.js"></script>

    </head>

    <!--Site Content-->
    <body class="no-animations">

        <%- include('./partials/header.ejs') %>

        <!--Main Content-->
        <main class="flex-container"> 
            <div id="content-container" class="flex-container">
                <h2><b>Welcome to Music Events</b></h2>
                <p>Connect with hundreds of others just like yourself, wanting to learn more about instruments and how to master them, across a wide variety of instruments.  Our events can be hosted by anyone, anywhere, even you can start hosting your own events to further meet more people alike you!</p>
                <p>Browse the Events page to start your path to learning!</p>
            </div>
        </main>

        <%- include('./partials/footer.ejs') %>

    </body>

</html>