main {
    justify-content: center;
    align-items: center;
}

#content-container {
    width: 100%;
    min-width: 400px;
    max-width: 2000px;
    height: auto;
    background-color: var(--primary-color);
    flex-direction: column;
    color: white;
    border-radius: 15px;
    padding: 30px;
    padding-bottom: 50px;
    border-left: solid 2em var(--secondary-color);
    border-right: solid 2em var(--secondary-color);
}

#content-container > * {
    margin-bottom: 10px;
}

#content-container > h2 {
    display: block;
    margin-bottom: 20px;
    font-size: xx-large;
}

#content-container > p {
    display: block;
    font-size: large;
    margin-left: 3vw;
    text-indent: -1vw;
    line-height: 20px;
}