/* Background */
main {
    align-items: center;
    flex-direction: column;
}

.content-container {
    width: 80%;
    min-width: 400px;
    max-width: 800px;
    height: fit-content;
    background-color: var(--primary-color);
    flex-direction: column;
    color: white;
    border-radius: 15px;
    padding: 30px;
    padding-bottom: 50px;
    border-left: solid 2em var(--secondary-color);
    border-right: solid 2em var(--secondary-color);
    margin-bottom: 50px;
}

.content-container > p {
    align-self: center;
    margin-top: 20px;
}

/* Content Header */
.content-header {
    justify-content: space-between;
    flex-direction: row;
    margin: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

/* Event List */
.event-list {
    width: 90%;
    justify-content: center;
    align-self: center;
    flex-direction: column;
}

.event-list > .content-divider {
    opacity: 80%;
}

/* Event List Item */
.event-list-item {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.action-list {
    align-items: center;
}

.nav-breaker {
    margin-right: 10px;
}

form {
    flex-direction: row;
}

button {
    border-radius: 15px;
    width: 40px;
    height: 40px;
    margin-left: 5px;
}

button:hover, button:focus {
    transform: scale(1.1);
}

#edit {
    background-color: rgb(52, 182, 52);
}

#delete {
    background-color: rgba(255, 86, 86, 0.966);
}